@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --brand-blue: rgb(38, 99, 235);
  --brand-blue-light: rgb(101, 150, 255);
  --foreground: #171717;
}

input {
  outline: none;
}